


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

 /* Inicio del boton de solicitar informacion */
.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #afa8a8;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

 /* fin del boton de solicitar informacion */
.curso{

  margin-top: 150px;
}
.formulario{
  margin-top: 70px;
  border-color: #000;
  background-color: #c7c5c5;
  box-shadow: 20px 20px 15px;
}
.btnup{
margin-top: 25px;
margin-bottom: 20px;
}

.bordes{
margin-bottom: 10px;  
padding: 5px;
border-color: #0a0a0a;
margin-right: 15px;

}
.fila{
  margin-bottom: 15px;
}

.navborder{
  border-color: #fbff10;
}
 /* movimiento del la pagina curso */

 

 /* probando   */







.cont {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.cont:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.col{
  flex-direction: column;

}





.letras{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  
  color: #333;
}
label{
  margin-top: 7px;
  
            
}

.mi-jumbotron {
  background-image: url(https://www.netscribes.com/wp-content/uploads/2019/06/Technology-Watch.jpg);
  background-size: cover;
  color: white;
  text-shadow: 1px 1px #333;
  height: 100vh;
}

.tamalogo{
  height: 5px;
}

